/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) { 

	#hp-container-1 {
		padding: 24px 15px 50px;
	}

	#hp-container-2 {
		padding: 13px 15px 50px;
	}

	.hp-box {
		margin-top: 50px;
	}

	.company-info-container {
		width: 90%;
	}

	#sidebar {
		padding: 20px 15px 30px;
	}

	.reviews-container__action-bar {

		#reviews-logo {
			max-height: 30px;
			margin: 40px 0 10px;
		}

	}

}  