/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) { 

	#hp-container-1 {
		padding: 24px 15px 50px;
	}

	#hp-container-2 {
		padding: 13px 15px 50px;
	}

	.hp-box {
		margin-top: 50px;
	}
}    