/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) { 

	#hp-container-1 {
		padding: 24px 15px 50px;
	}

	#hp-container-2 {
		padding: 13px 15px 50px;
	}

	.hp-box {
		margin-top: 50px;
	}

	.company-info-container {
		width: 90%;
	}

	#sidebar {
		padding: 20px 15px 30px;
	}

	.reviews-container__action-bar {

		#reviews-logo {
			max-height: 30px;
			margin: 40px 0 10px;
		}

	}

	#cta {
		left: 5px !important;
		bottom: -999px !important;
		bottom: 20px;
		transition: all 1s ease;
		width: 100%;
	}

	#cta.show {
		bottom: 0 !important;
		left: 0 !important;
	}

}  