@import "variables";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@font-face {
    font-family: 'proxima-nova-bold';
    src: url('/assets/fonts/proxima-nova/bold/proximanova-bold-webfont.eot');
    src: url('/assets/fonts/proxima-nova/bold/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/proxima-nova/bold/proximanova-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/proxima-nova/bold/proximanova-bold-webfont.woff') format('woff'),
         url('/assets/fonts/proxima-nova/bold/proximanova-bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/proxima-nova/bold/proximanova-bold-webfont.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima-nova-regular';
    src: url('/assets/fonts/proxima-nova/regular/proximanova-regular-webfont.eot');
    src: url('/assets/fonts/proxima-nova/regular/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/proxima-nova/regular/proximanova-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/proxima-nova/regular/proximanova-regular-webfont.woff') format('woff'),
         url('/assets/fonts/proxima-nova/regular/proximanova-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/proxima-nova/regular/proximanova-regular-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font family */

h1, h2, h3 {
    font-family: $font-bold !important;
    font-weight: normal;
    color: #5a5a5a;
}

body, h4, h5, h6, p {
    font-family: $font-regular;
    color: #898989;
}

p {
    font-size: 15px;
}

input {
    font-family: $font-regular;
}

small {
    font-size: 13px !important;
    font-family: $font-regular; 
}

.btn {
    font-family: $font-regular !important;
}

/* utility classes */

#happster-text {
    font-family: monserrat, $font-bold, helvetica;
    color: $blue;
    font-weight: bold;
}


