// main colors

$dark-blue: 		#169298;
$blue: 				#54C5C9;
$light-blue: 		#7FDBDF;

$dark-purple: 		#573BA9;
$purple: 			#7157BE;
$light-purple:  	#937DD5;

$red: 				#FF6E6A;

$yellow: 			#FBB423;
$dark-yellow: 		#D49004;

$gray: 				#EFF3F6;

$green:				#83DD80;

$background-color:  #eff3f8;